.magnetLines-container {
  display: grid;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
  grid-template-rows: repeat(var(--rows, 1), 1fr);

  justify-items: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.magnetLines-container span {
  display: block;
  transform-origin: center;
  will-change: transform;
  transform: rotate(var(--rotate));
}

